@font-face {
    font-family: "Times Now";
    src: url("./fonts/TimesNow-BoldItalic.woff2") format("woff2"),
         url("./fonts/TimesNow-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("./fonts/HelveticaNeueRegular.otf") format("otf");
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("./fonts/HelveticaNeueCyr-Roman.otf") format("otf");
}
